<!DOCTYPE html>
<html lang="{{ site.lang | default: "it-IT" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="site-header" role="banner">
      <div class="column site-header-inner">
        <h1 class="project-name"><a href="{{ site.baseurl }}/">{{ site.title | default: site.github.repository_name }}</a></h1>
        <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <!--
  As soon as we have more pages
      <nav class="main-column main-nav">
        {% assign sorted_pages = site.pages | sort:"order" %}
        {% for page in sorted_pages %}
        {% if page.nav %}
        <a href="{{ page.url }}">{{ page.nav_title | default: page.title }}</a>
        {% endif %}
        {% endfor %}
      </nav>
    -->

    <main role="main" class="site-main">
      <div class="column">
        {{ content }}
      </div>

    </main>
      <footer class="site-footer">
        <div class="column">
          Carlo Panzi, 2018. - 
            <a href="{{ site.baseurl }}{% link Privacy-it.md %}">Informativa sulla privacy</a>
        </div>
      </footer>
  </body>
</html>
